body{margin: 100px 100px 300px 100px;}
a{color:#0096ff;}

.page-header{text-align:center; margin-bottom:50px;}
.page-title{font-size:36px;}
.lead{font-size:18px;}
.product-container img{width:100%;}
.description{padding:10px;}
.title, .tagline{font-size:16px; text-align:center;}
.descriptionText{display:none; position:absolute; margin-right:15px; top:24px; height:calc(100% - 90px); padding:10px; font-size:25px; overflow-y:auto;}
.remove{float:right; margin:0;}